p { display: inline; }

.console {
    float: left;
    margin-right: auto;
}

#main {
    margin-left: auto;
    margin-right: auto;
}

.graphBoard {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 540px;
    height: 200px;
}

svg {
    background-color: #ffffd0;
}

circle {
    fill: red;
    transition: 0.4s;
    &:hover {
        fill: blue;
        transition: 0.4s;
    }
}

line {
    stroke-width: 5;
}
.middle {
    stroke: rgb(0,255,0);
}
.graph {
    stroke: rgb(255,0,0);
}
.in {
    stroke: red;
}
.out {
    stroke: black;
}
.customer-even {
    stroke: #00ee00;
}
.customer-odd{
    stroke: #00cc00;
}
