<html>
    <head>
        <link rel="stylesheet" href="index.min.css">
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="app">
            <div class="console">
                <p>ArrivalRate:</p>
                <input type="range" min="0" max="100" v-model='arrivalRate'>
                {{ arrivalRate }}
                <br>
                <p>LengthOfService:</p>
                <input type="number" min="0" v-model='LengthOfService'>
                {{ LengthOfService }}
                <br>
                <p>Duration:</p>
                <input type="number" min="0" max="100000" v-model='duration'>
                {{ duration }}
                <br>
                <button v-on:click="execute">execute</button>
                <br>
                {{ count }}
            </div>
            <div id="main">
                <div class="graphBoard">
                    <svg height=200 width=500>
                        <line class="middle" x1=0 y1=100 x2=500 y2=100></line>
                        <line :class=color(key) v-for="(value, key) in variation" :x1=3+5*key :y1=200-expected(value) :x2=3+5*key y2="200">
                    </svg>
                </div>

                <div class="graphBoard">
                    <svg height=100 width=50>
                        <line :class=customerColor(key) v-for="(value, key) in customer" :x1=3+5*key :y1=100-customerExpected(key) :x2=3+5*key y2="100">
                    </svg>
                </div>
            </div>
        </div>
        <script src="index.js"></script>
    </body>
</html>
